<div class="calendar__choice">

  <div class="calendar__change">
    <button class="calendar__left-arrow" ng-click="vm.prev();"></button>
    <div class="calendar__month">
      {{vm.dateToday}}
    </div>
    <button class="calendar__right-arrow" ng-click="vm.next();"></button>
  </div>
  <button class="calendar__choiceButton" ng-click="vm.getToday();">Сегодня</button>

</div>


<div class="calendar__main">

  <div class="calendar__item" ng-class="{calendar__item_today: item.date === vm.today, calendar__item_active: item.active == 'true'}" ng-repeat="item in vm.calendar | filter:search">
    <p class="calendar__item-day" ng-class="{calendar__item_day_active: item.date === vm.today}">{{item.day}}</p>
    <h3 class="calendar__item-heading">{{item.title}}</h3>
    <p class="calendar__item-description">{{item.description}}</p>
  </div>

</div>
